/*      
    Name:           Thavisha Thanippuli Appuhamilage
    Student #:      100942614
    File:           a3p3-style.html
    Date created:   June 21st, 2024
    Last Modified:  June 22nd, 2024
    Section:        6
    Description:    This assignment includes styling text for a community school's homepage using CSS.
*/

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
  }
  
  /* Layout */
  
  section {
    float: left;
    width: 50%;
  }
  
  aside {
    float: left;
    width: 30%;
  }
  
  nav {
    float: left;
    width: 20%;
  }
  
  footer {
    clear: both;
  }
  
  header, section, aside, nav, footer {
    padding: 20px;
  }
  
  /* header and footer */
  
  header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
  }
  
  /* WRITE YOUR CODE BELOW HERE */
  @font-face {
    font-family: 'PTSerif';
    src: url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap.woff2') format('woff2'),
        url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap.ttf') format('truetype');
  }

  @font-face {
    font-family: 'OpenSans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap.woff2') format('woff2'),
        url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap.ttf') format('truetype');
  }

  html {
    font-family: PTSerif, serif;
    font-size: 10px;
  }

  h1, h2 {
    font-family: OpenSans, sans-serif;
    letter-spacing: 1.5px;
  }

  h1 {
    font-size: 4rem;
    text-align: center;
  }

  h2 {
    font-size: 3rem;
  }

  p, li {
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.3px;
    word-spacing: 2px;
  }

  section h2 + p {
    text-indent: 20px;
  }

  a:link {
    color: #a66;
  }

  a:visited {
    color: purple;
  }
  
  a:focus, a:hover {
    text-decoration: none;
  }

  a:active {
    color: green;
    text-decoration: dashed underline overline;
  }

  ul, ol {
    margin: 2rem 0;
  }

  ul {
    list-style-type: circle;
  }

  ol {
    list-style-type: lower-roman;
  }

  a[href*="http"] {
    background: url(external-link-52.png) no-repeat 100% 0;
    background-size: 17px 17px;
    padding-right: 18px;
  }
  
  nav ul {
    padding-left: 0;
    margin-top: 1rem;
  }

  nav li {
    margin-bottom: 1rem;
    list-style-type: none;
  }

  nav li a {
    border: 1px solid #a66;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    line-height: 3;
  }

  nav li a:focus, nav li a:hover {
    color: lightblue;
  }

  nav li a:active {
    color: lightblue;
    text-decoration: dashed underline overline;
  }

  