/* 
    Name:           Thavisha Thanippuli Appuhamilage
    Student #:      100942614
    File:           a3p2-style.css
    Date created:   June 20th, 2024
    Last Modified:  June 20th, 2024
    Section:        6
    Description:    Creating a cool, fancy box using CSS. 
*/

html {
    font-family: sans-serif;
  }
  
  /* Your CSS below here */