/* 
    Name:           Thavisha Thanippuli Appuhamilage
    Student #:      100942614
    File:           a3p2-style.css
    Date created:   June 20th, 2024
    Last Modified:  June 20th, 2024
    Section:        6
    Description:    Creating a cool, fancy box using CSS. 
*/

html {
    margin: 0 auto;
    height: 200px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

.box {
    width: 200px;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    text-align: center;
    /* The default browser font size is 16px. Therefore, 1.125 * 16px = 18px. */
    font-size: 1.125rem;
    background-color: red;
    color: white;
    text-shadow: 1.5px 1.5px 1.5px black;
    border-radius: 12px;
    border: 1px solid darkred;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0.2) 100%),
        linear-gradient(to bottom right, rgba(255, 0, 0, 0.8) 0%, rgba(240, 0, 0, 0.8) 30%, rgba(200, 0, 0, 1) 100%);
    box-shadow: 2px 2px 4px black,
        inset 2px 2px 3px rgba(255, 255, 255, 0.5),
        inset -2px -2px 3px rgba(0, 0, 0, 0.5);
}